<div class="">
  <div class="">
    <%= link_to "", "#", class: 'glyphicon glyphicon-chevron-up' %>
  </div>
  <div class="">
    <strong><%= post.points %></strong> 
  </div>
  <div class="">
    <%= link_to "", "#", class: 'glyphicon glyphicon-chevron-down' %>
  </div>
</div>
